* {
    font-family: "Source Sans Pro", sans-serif;
}

html{
    font-size: 4.4vw;
}

h2{
    font-size: 1rem;
    font-weight: 700;
}

:root{
    --bgColor : #802A8F;
    --bgFromdiv :#F0D0DD;
    --formbg : #F2F2F2;
    --small-16-fontSuze : 0.72rem;
    --medium-33-font-size : 0.62rem;
    --small-88-width : 4rem;
    --small-32-height : 1.45rem;
    --small-padding-10 : 0.45rem;
    --small-padding-15 : 0.68rem;
    --medium-padding-10 : 0.18rem;
    --medium-padding-15 : 0.28rem;

    --small-padding-20 : 0.90rem;
    --medium-padding-20 : 0.37rem;
}

body{
    padding: 0;
    margin: 0;
}


header{
    width: 100%;
    background-color: white;
    position: sticky !important;
    top: 0;
    z-index: 1001;
    padding: 10px 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

header img{
    height: 1.45rem;
    width: 4rem;
}




header button{
    background-color: var(--bgColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    font-size: 0.54rem;
    line-height: 0.81rem;
    padding: 0.28rem 0.42rem;

    height: 1.05rem;
    width: 3.72rem;

    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 0.10rem;
}
.banner-container-main{
    background-color : transparent;
    background-position : center;
    background-size: cover;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
}

.banner__heading > h1{
    color: white;
    font-weight: 600;
    font-size: 1.59rem;
    width: 18.15rem;
}

.banner__heading{
    background-image: url('assests/image 17.png');
    background-position: center;
    background-size: cover;
    padding: var(--small-padding-20);
    width: 100%;
}

.banner__heading > div{
    margin-top: var(--small-padding-20);
}

.banner__heading > div > p> img{
   width: 1.5rem;
    height: 1.5rem;
}

.banner__heading> h1 > span, .banner__heading  > div > p{
    color: #fff;
    width: 18.04rem;
    height: 1.77rem;
    font-weight: 400;
    background-color: var(--bgColor);
    border-radius: 0.22rem;
    font-size: 1rem;
    padding: 0.18rem;
    margin-bottom: var(--small-padding-10);
}

.banner__heading > div >p >span{
    margin-left: var(--small-padding-15);
}

.banner__heading> h1 > span{
    color: #fff;
    width: 18.04rem;
    height: 1.77rem;
    font-weight: 700;
    background-color: var(--bgColor);
    border-radius: 0.22rem;
    font-size: 1.59rem;
    padding: 0.18rem;
}

.small-devices-form-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--small-padding-20) 0px;
    background-color: var(--bgFromdiv);
}

 form{
    width: 17.86rem;
    border-radius:0.19rem;
    background-color: var(--formbg);
    text-align: center;
    padding: var(--medium-padding-10);
}


 form > h2{
    top: 20.09rem;
    font-size: 1rem;
    font-weight: 700;
    width: 8.94rem;
    height: 1.58rem;
    align-self: center;
    margin-bottom: var(--small-padding-15);
    padding: var(--small-padding-15) var(--small-padding-15);
}



 form >  button{
    background-color: var(--bgColor);
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    font-size: 1rem;
    width: 7.07rem;
    height: 1.81rem;
    padding: 0.41rem 0.62rem;
    line-height: 1.5rem;
    border-radius: 0.15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: var(--small-padding-20);
    align-items: center;
    padding: var(--small-padding-10) var(--small-padding-15);
}

input,select {
    font-size: var(--small-16-fontSuze);
    font-weight: 400;
    width: 15.81rem;
    height: 2.07rem;
    padding: var(--small-padding-20);
    background-color: white;
    margin-top: var(--small-padding-10);
    margin-bottom: var(--small-padding-10);
    border: none;
    border-radius: 0.19rem;
    margin-bottom: var(--small-padding-20);
    box-shadow: 1px 1px 2px 0px #3E434740
}


input:focus, select:focus{
    outline: lightblue;
}

.serives-we-do-container{
    padding: var(--small-padding-15);
    margin-bottom: var(--small-padding-15);
}

.serives-we-do-container > div{
    margin: 0.22rem;
}

.serives-we-do-container > div{
    width : 45%;
}

.serives-we-do-container  >div  > img{
    width: 2.36rem;
    height: 2.36rem;
}

.serives-we-do-container > div > span{
    font-size: 1rem;
    width: 7.22rem;
    font-weight: 600;
    height:2.81rem;
}

.types-of-scans-container{
    width: 10.43rem;
    height: 7.73em;
    margin: 0.22rem;
}

.types-of-scans-text{
    font-size: 1rem;
    font-weight: 700;
}

.types-of-scans-container h3,.types-of-scans-container > div > p,.types-of-scans-container >  button{
    font-size: var(--small-16-fontSuze);
    font-weight: 600;
}

.carousel-item > p{
    font-size: var(--small-16-fontSuze);
    font-weight: 400;
}



.types-of-scans-container >  button{
    background-color: var(--bgColor);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 0.10rem;
    padding: 0.30rem 0.46rem;
}


.book-appointment-container{
    background: linear-gradient(90deg, #802A8F 0%, #D37FA0 98.5%);
}


.book-appointment-container > img{
    width: 3.95rem;
    height: 4.18rem;
}

.book-appointment-container > div > p{
    font-size: 1rem;
    font-weight: 400;
    color: white;
}

.book-appointment-container > div > button{
    width: 7rem;
    height: 1.36rem;
    border-radius: 0.13rem;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--bgColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: var(--small-16-fontSuze);
    line-height: 1.09rem;
    font-weight: 700;
}

.book-appointment-container{
    padding: var(--small-padding-10);
}

.testimonals-text{
    font-size: 1rem;
    font-weight: 700;
}
.carousel-inner-container{
    width: 19.54rem !important;
    height: 11.59rem;
    border-radius: 0.23rem;
    background-color:var(--bgFromdiv);
    padding: var(--small-padding-15) var(--small-padding-15);
}



.guidlines-container{
    width: 18.5rem;
    height: 14.64rem;
    border-radius: 0.19rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.guidlines-container > img{
    width: 4.68rem;
    height: 4.68rem;
}
.guidlines-container > p{
    font-size: 1rem;
}
.guidlines-text{
    width: 15.5rem;
    height: 1.75rem;
    font-weight: 700;
}
.places-main-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-content: center;
    padding: var(--small-padding-10);
}

.places-main-container > div:nth-child(1),.places-main-container > div:nth-child(3){
    border-right: 2px solid #fff;
}
.places-main-container > div:nth-child(2), .places-main-container > div:nth-child(4){
    border: none ;
}
.places-container{
    width: 8.84rem;
    height: 1.95rem;
}

.places__container{
    padding: 0px var(--small-padding-10);
}

.places__container > img{
    width: 1.36rem;
    height: 1.36rem;
}
.places-container > img {
    width: 1.36rem;
    height: 1.36rem;
}

.places__container > p{
    font-size: 1rem;
    font-weight: 600;
    line-height:1.94rem ;
    color: #fff;
    margin-bottom: 0px;
    margin-left: var(--small-padding-10);

}
.places-container > p{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.94rem;
    color: #fff;
}


.pet-ct-container > div > img, .pet-ct-container > div {
    width: 20.18rem;
    overflow: hidden;
}

.pet-ct-container > div > img{
    height: 15.18rem;
}

.our-services-container-card{
    width: 9.95rem;
    height: 9.63rem;
    border-radius: 0.35rem;
    box-shadow: 0.99px 0.99px 5.96px 0px #00000026;
    box-shadow: 0px 7.14px 32.15px 0px #9EA8BD4F;
}
.our-services-container-card > img{
    width: 4.41rem;
    height: 4.41rem;
}
.our-services-container-card > p{
    font-size: 1rem;
    font-weight: 600;
}
.fqs-main-container{
    display: grid;
    grid-template-columns: 1fr;
}
.faqs-container{
    width: 100%;
    border-bottom: solid 1px #000000;
    /* margin-bottom: var(--small-padding-15); */
}
.accordion-header, .accordion-item{
    background-color: var(--bgFromdiv);
}

.faqs-container > .accordion-header,.accordion-item{
    background-color: white;
}
.accordion-header{
    font-weight: 600;
}
.accordion-button:not(.collapsed){
    background-color:var(--bgFromdiv);
}

.faqs-container  .accordion-button:not(.collapsed){
    background-color: white !important;
}

.faqs-container .accordion-body{
    background-color: white;
}


/* .carousel-control-next{
    display: none;
} */

.accordion-collapse{
    font-size: var(--small-16-fontSuze);
}
.accordion-body{
    font-size: var(--small-16-fontSuze);
    font-weight: 400;
    background-color: var(--bgFromdiv);
}
.faqs-container .accordion-button::after{
    background-image: url('	https://www.freepnglogos.com/uploads/plus-icon/plus-icon-plus-math-icon-download-icons-9.png');
    background-size: cover;
    width: 0.90rem;
    height: 0.90rem;
}

.faqs-container .accordion-button:not(.collapsed)::after{
background-image: url('https://tse2.mm.bing.net/th?id=OIP.olprDojCA6ATaPKWOyB3UgHaHa&pid=Api&P=0&h=180');
background-size: cover;
width: 0.59rem;
height: 0.59rem;
columns: var(--bgColor);
font-weight: 600;

}


.review-card {
    padding: var(--small-padding-20);
    background: #f0d0dd;
    border-radius: 5px;
    width: 15.4716rem;
    height: 11.59rem;
    /* margin-top: var(--small-padding-20); */
    text-align: center;
  }

  .slider__container{
    padding: var(--small-padding-20);
    background: #f0d0dd;
    border-radius: 5px;
    /* margin-top: var(--small-padding-20); */
    text-align: center;
}

  
  .review-card  h1{
      margin-top: var(--small-padding-15);
  }
  
  .review-card p {
    align-self: center;
    font-size: var(--small-16-fontSuze);
    font-weight: 400;
    margin-bottom: var(--small-padding-20);
  }

  .slider__container > p{
    align-self: center;
    font-size: var(--small-16-fontSuze);
    font-weight: 400;
    margin-bottom: var(--small-padding-20);
}

.slider__container > div {
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
  
  .review-person {
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  

  
    .slider__container > div > h3{
        font-size: var(--small-16-fontSuze);
        font-weight: 600;
  }

  #splide01-slide01, #splide01-slide02, #splide01-slide03{
    /* width: 19.54rem !important; */
    height: 11.59rem !important;
    background-color: var(--bgFromdiv) !important;
  }

  .review-person h3{
      font-size: var(--small-16-fontSuze);
      font-weight: 600;
  }

  .slider__container > div > img{
    height: 0.83rem;
    width: 5.61rem;
  }
  
  .review-person img {
      height: 0.83rem;
      width: 5.61rem;
  }


.faqs-container .accordion-button.collapsed{
    color: black !important;
}

.accordion-button{
    font-weight: 600;
}


.accordion-button:not(.collapsed){
    color: var(--bgColor);
}






@media screen and (min-width : 768px) {
    html{
        font-size: 2.76vw;

    }   
    header{
        padding: 0.37rem 0.37rem;
    }
    header img{
        height: 1.13rem;
        width: 3.39rem;
    }
    .banner-container-main{
        background-image: url('assests/image 17.png');
        background-size: cover;
        height: 19.15rem;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
    }
    .banner__heading{
        background-image: none;
        padding: none;
        width: 100%;
    }

    .serives-we-do-container{
        margin-bottom: 0px;
    }

    .serives-we-do-container > div{
        width : 22%;
    }
    .banner-container-main > form{
        width: 11.30rem;
        height: 12.98rem;
    }
    .banner__heading > h1{
        font-weight: 500;
    }
    .banner__heading > h1 > span{
        font-size: 1.60rem;
        height: 1.50rem;
        font-weight: 400;
        border-radius: 0.09rem;
    }
    .banner__heading > div > p{
        padding: var(--small-padding-10);
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1rem;
        line-height: 0.56rem;
        border-radius: 0.09rem;
    }

    .testimonial-single-card  hr{
        width: 95%;
    }

    .banner__heading > div> p > img{
        width: 1.66rem;
        height: 1.50rem;
    }

    .banner__heading > div > p >span{
        width: 14rem;
    }

    .small-devices-form-container{
        padding: 0px;
        background-color: transparent;
    }

    form{
        width: 11.30rem;
        border-radius:0.19rem;
        padding: var(--medium-padding-20);
    }

    form h2{
        margin-bottom: 0px;
    }
    input,select{
        width: 9.57rem;
        height: 1.75rem;
        padding: var(--medium-padding-20);
        font-size: var(--medium-33-font-size);
        margin-bottom: var(--medium-padding-20);
        margin-top: var(--medium-padding-15);
    }
    form >  button{
        width: 4.92rem;
        height: 1.07rem;
        border-radius: 0.11rem;
        padding: 0.30rem 0.45rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: var(--medium-33-font-size);
        margin-top: var(--medium-padding-15);
    }


    .banner__heading > h1{
        font-size: 1.60rem;
        width: 18.15rem;
        line-height: 2.2rem;
    }

    .serives-we-do-container> div>span{
        font-size: var(--medium-33-font-size);
        line-height: 0.80rem;
        width: 3.52rem;
        height:  1.45rem;
    }
    
    .serives-we-do-container> img{
        width: 2.60rem;
        height: 2.60rem;
    }
    .types-of-scans-container{
        width: 9.03rem;
        height: 6.69rem;
        border-radius: 0.22rem;
        padding: var(--medium-padding-20) 0px;
        margin: 0.09rem;
    }
    .types-of-scans-container h3, .types-of-scans-container > div >p, .types-of-scans-container >  button, .carousel-item > p{
        font-size:var(--medium-33-font-size);
    }
    .types-of-scans-container > button{
        padding: 0.26rem 0.39rem;
        width: 4.54rem;
        height: 1rem;
    }
    .carousel-item > div > img{
        width: 3.37rem;
        height: 0.50rem;
    }

    
    .carousel-item > div > p{
        font-size: var(--medium-33-font-size);
    }
    .guidlines-container {
        width: 10.38rem;
        height: 8.22rem;
        border-radius: 0.10rem;
        padding: var(--medium-padding-20) var(--medium-padding-20);
    }
    .guidlines-text{
        width: 17.22rem;
    }
    .guidlines-container > p{
        font-size: var(--medium-33-font-size);
        font-weight: 600;
        margin-bottom: 0px;
    }
    .guidlines-container > img{
        width: 2.63rem;
        height: 2.63rem;
    }
    .places-main-container{
        grid-template-columns: repeat(4, 1fr);
        /* height: 4.05rem; */
    }

    .places-main-container > div:nth-child(4) {
        border:none !important;
    }


    .places-main-container > div:nth-child(2){
        border-right: solid 2px #fff;
    }
    .places-container{
        width: 7.35rem;
        height: 1.62rem;
        border-right: 1px solid #000;
    }
    .places__container > img{
        width: 1.13rem;
        height: 1.13rem;
    }
    .places__container > p{
        font-size: 1rem;
    }
    .places-container > img{
        width: 1.13rem;
        height: 1.13rem;
    }
    .places-container > p{
        font-size: 1rem;
    }

    .pet-ct-container > div > img, .pet-ct-container > div {
        width: 14.43rem;
        margin-left: var(--medium-padding-15);
    }
    .our-services-container-card{
        width: 7.63rem;
        height: 7.38rem;
        border-radius: 0.26rem;
    }
    .our-services-container-card > img{
        width: 3.37rem;
        height: 3.37rem;
    }
    .our-services-container-card > p{
        font-size: var(--medium-33-font-size);
        font-weight: 600;
    }
    .fqs-main-container{
      grid-template-columns: repeat(2, 1fr);
    }
    .fqs-main-container > div{
        width: 47%;
    }
    .faqs-container{
        width: 100%;
    }


    .accordion-header{
        font-size: var(--medium-33-font-size);

    }
    .accordion-body{
        font-size: 0.45rem;
    }

    .faqs-container  .accordion-body{
        background-color: white;
    }

    .accordion-button:not(.collapsed){
        background-color:var(--bgFromdiv);
    }
    .book-appointment-container{
        padding: 0.47rem;
    }
    .book-appointment-container > img{
        width: 2.92rem;
        height: 2.93rem;   
    }

    .book-appointment-container > div{
        margin: 0px var(--medium-padding-20);
    }

    .book-appointment-container > div > p{
        width: 16.45rem;
        height: 2.13rem;
    }
    .book-appointment-container > div > button{
        width: 8.86rem;
        height: 2.01rem;
        border-radius: 0.1rem;
        background-color: white;
        color: #000000;
    }



    .review-card {
          width: 15.47rem;
          height: 10.30rem  !important;
          margin-right: var(--small-padding-15);
      }
      
      
      .review-card p,.review-person,.review-person h3{
          font-size: var(--medium-33-font-size);
      }
      
      
      /* .testimonial-main-container{

        width: 33.47rem;
        height: 10.30rem;
        padding: 1rem;
      } */

      .testimonial-single-card{

        width: 15.48rem;
        height: 10.31rem;
        border-radius: 0.2rem;
        margin-bottom: 2.3rem;
        padding: var(--medium-padding-20) var(--medium-padding-10);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .testimonial-single-card p{
        font-size:0.62rem !important;
        line-height: 0.78rem;
        text-align: center;
        
      }

      .testimonial-single-card > div span{
            font-size: var(--medium-33-font-size);
            font-weight: 600;
      }

      
      .review-person img {
            height: 0.52rem;
            width:3.37rem;
      }

      .accordion-button{
        font-size: 0.62rem;
      }
      
      #splide01-slide01, #splide01-slide02, #splide01-slide03{
        /* width: 19.54rem !important; */
        height: 15.47rem !important;
        background-color: var(--bgFromdiv) !important;
      }
}





/* .carousel-control-prev-icon {
    background-image: none;
}
 */
